In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
sns.set()

import datetime

In [4]:
df = pd.read_csv("output.csv")

In [5]:
df.sample()

,tmstmp,typ,stpnm,stpid,vid,dstp,rt,rtdd,rtdir,des,...,tablockid,tatripid,origtatripno,dly,dyn,prdctdn,zone,psgld,stst,stsd
268253,20210908 14:08,A,"NCAC, Hubbard Outbound",N438,3003.0,11410,GNW,GNW,NORTHBOUND,Green Road Park and Ride,...,1702GNW,215884,215884,False,0,13,NaN,NaN,51300,2021-09-08

In [6]:
df.stpnm.unique()

array(['Cardiovascular Center', 'Markley Hall', 'Taubman Outbound',
       'Cancer Center Outbound', 'Maiden Lane', 'Wall St Structure',
       'Cancer Center Inbound', 'Glazier Way  Lot NC-51  West',
       'Taubman Inbound', 'Glazier Way  Lot NC-51  North',
       'Glazier Way  Lot NC-51  East', 'Mott Hospital',
       'VA Hospital  Fuller Rd',
       'Fuller Rd at Lot NC-78  Mitchell Field (3)',
       'Fuller Rd at Mitchell Field  Lot M-75', 'FXB Outbound',
       'Hayward/Hubbard  Hayward Outbound', 'NCRC South',
       'Crisler Center/Lot SC-7', 'Facilities Services Building',
       'Intramural Building Outbound', 'Law Quad',
       'Michigan Union  S. State', 'Kraus Building',
       'Central Campus Transit Center: Chemistry',
       'North Ingalls Building', 'East Quad  Church', 'Couzens Hall',
       'Hill Street at Tappan Avenue', 'Henderson House',
       'Revelli Hall Inbound', 'Oxford Housing', 'Cooley Lab Inbound',
       'FXB Inbound', 'Northwood I Outbound', 'Glen/Catherine Outbound',
       'Pierpont Commons  Murfin Outbound',
       'Hayward/Hubbard  Hubbard Outbound', 'Baits II Inbound',
       'Central Campus Transit Center: Ruthven Museum',
       'Bursley Hall Inbound', 'Pierpont Commons  Bonisteel Inbound',
       'Power Center', 'Fuller Rd at Lot NC-78  Mitchell Field (1)',
       'Glen/Catherine Inbound', 'Green Rd Park & Ride Outbound',
       'Northwood V (3)', 'Art & Architecture', 'NCAC, Hubbard Outbound',
       'NCAC  Hubbard Inbound', 'Hayward/Hubbard  Hubbard Inbound',
       'Biomedical Engineering Bldg', 'Plymouth Rd Crosswalk',
       'Northwood Community Center', 'Northwood III Outbound',
       'Northwood II Outbound', 'Biomedical Science Research Bldg',
       'Rackham Bldg', 'Stockwell Hall Outbound',
       'Institute for Continuing Legal Education'], dtype=object)

In [7]:
df.rt.unique()

array(['WX', 'MX', 'SD', 'WS', 'OXM', 'CC', 'BBL', 'NWL', 'GNW'],
      dtype=object)

# Let's look at what routes are there

In [8]:
df.tmstmp = pd.to_datetime(df.tmstmp)

In [9]:
stoptimesNorth = df[df.rt.eq("CC") & df.rtdir.eq("NORTHBOUND") & df.stpnm.eq("Central Campus Transit Center: Ruthven Museum")].groupby([df.tmstmp.dt.date, "tatripid"]).agg("last")
stoptimesSouth = df[df.rt.eq("CC") & df.rtdir.eq("SOUTHBOUND") & df.stpnm.eq("Central Campus Transit Center: Ruthven Museum")].groupby([df.tmstmp.dt.date, "tatripid"]).agg("last")

# Questions

1. Which bus route is most frequent when going to North from CCTC?
2. Or going south from North campus?
3. What about each stop (all of the other stops?)
4. Which bus routes are slower than they should be? Faster???
5. How frequently are there big gaps vs very small gaps?
6. How long for a bus? any bus? please!!!
7. What bus stops do you have to wait the longest?

In [11]:
stoptimesNorth

                                 tmstmp typ  \
tmstmp     tatripid
2021-09-07 212992   2021-09-07 14:48:00   D
           212993   2021-09-07 15:05:00   D
           212994   2021-09-07 15:09:00   D
           212995   2021-09-07 15:17:00   D
           212996   2021-09-07 15:21:00   D
...                                 ...  ..
2021-09-15 285862   2021-09-15 14:24:00   D
           285863   2021-09-15 14:44:00   D
           285864   2021-09-15 15:01:00   D
           285865   2021-09-15 15:22:00   D
           285866   2021-09-15 15:43:00   D

                                                             stpnm stpid  \
tmstmp     tatripid
2021-09-07 212992    Central Campus Transit Center: Ruthven Museum  C251
           212993    Central Campus Transit Center: Ruthven Museum  C251
           212994    Central Campus Transit Center: Ruthven Museum  C251
           212995    Central Campus Transit Center: Ruthven Museum  C251
           212996    Central Campus Transit Center: Ruthven Museum  C251
...                                                            ...   ...
2021-09-15 285862    Central Campus Transit Center: Ruthven Museum  C251
           285863    Central Campus Transit Center: Ruthven Museum  C251
           285864    Central Campus Transit Center: Ruthven Museum  C251
           285865    Central Campus Transit Center: Ruthven Museum  C251
           285866    Central Campus Transit Center: Ruthven Museum  C251

                        vid  dstp  rt rtdd       rtdir               des  \
tmstmp     tatripid
2021-09-07 212992    3057.0  3195  CC   CC  NORTHBOUND  Pierpont Commons
           212993       NaN     0  CC   CC  NORTHBOUND  Pierpont Commons
           212994       NaN     0  CC   CC  NORTHBOUND  Pierpont Commons
           212995    3055.0   652  CC   CC  NORTHBOUND  Pierpont Commons
           212996       NaN     0  CC   CC  NORTHBOUND  Pierpont Commons
...                     ...   ...  ..  ...         ...               ...
2021-09-15 285862    3043.0     0  CC   CC  NORTHBOUND  Pierpont Commons
           285863    3043.0   585  CC   CC  NORTHBOUND  Pierpont Commons
           285864    3043.0   808  CC   CC  NORTHBOUND  Pierpont Commons
           285865    3043.0   -25  CC   CC  NORTHBOUND  Pierpont Commons
           285866    3043.0   338  CC   CC  NORTHBOUND  Pierpont Commons

                              prdtm tablockid  origtatripno    dly  dyn  \
tmstmp     tatripid
2021-09-07 212992    20210907 15:02    1408CC        212992  False    0
           212993    20210907 15:06    1513MX        212993  False    0
           212994    20210907 15:10    1105SD        212994  False    0
           212995    20210907 15:18    1409CC        212995  False    0
           212996    20210907 15:22   1603WSN        212996  False    0
...                             ...       ...           ...    ...  ...
2021-09-15 285862    20210915 14:24   1703GNW        285862  False    0
           285863    20210915 14:44   1703GNW        285863  False    0
           285864    20210915 15:04   1703GNW        285864  False    0
           285865    20210915 15:24   1703GNW        285865  False    0
           285866    20210915 15:44   1703GNW        285866  False    0

                    prdctdn  zone  psgld   stst        stsd
tmstmp     tatripid
2021-09-07 212992         4   NaN    NaN  54120  2021-09-07
           212993       DUE   NaN    NaN  54360  2021-09-07
           212994       DUE   NaN    NaN  54600  2021-09-07
           212995       DUE   NaN    NaN  55080  2021-09-07
           212996       DUE   NaN    NaN  55320  2021-09-07
...                     ...   ...    ...    ...         ...
2021-09-15 285862       DUE   NaN    NaN  51840  2021-09-15
           285863       DUE   NaN    NaN  53040  2021-09-15
           285864       DUE   NaN    NaN  54240  2021-09-15
           285865       DUE   NaN    NaN  55440  2021-09-15
           285866       DUE   NaN    NaN  56640  2021-09-15

[1542 rows x 20 columns]

In [12]:
stoptimesSouth

Empty DataFrame
Columns: [tmstmp, typ, stpnm, stpid, vid, dstp, rt, rtdd, rtdir, des, prdtm, tablockid, origtatripno, dly, dyn, prdctdn, zone, psgld, stst, stsd]
Index: []

In [ ]:
stoptimes.index.names = ["date", "tatripid"]
# stoptimes.tmstmp.reset_index(level=1)

In [ ]:
stoptimes.tmstmp.reset_index(level=1).groupby("date").agg(lambda x: x.sort_values().diff().mean())

In [ ]:
nx_at_cctc = stoptimes.tmstmp.reset_index(level=1)

In [ ]:
waittimes = stoptimes.tmstmp.reset_index(level=1).groupby("date").agg(lambda x: x.sort_values().diff())
waittimes = waittimes.reset_index()
waittimes
waittimes = pd.concat([waittimes.drop(['tmstmp'], axis=1), waittimes['tmstmp'].apply(pd.Series)], axis=1)
waittimes = waittimes.melt(id_vars=["date"])
waittimes = waittimes[["date", "value"]]
waittimes["value"] = waittimes.value.dt.total_seconds()/60
waittimes["zscores"] = (waittimes["value"] - waittimes["value"].mean())/waittimes["value"].std()
waittimes = waittimes[waittimes.zscores < 3]
waittimes.value.mean()
#sns.displot(data=waittimes.value)

In [ ]:
sns.distplot(nx_at_cctc_tds.dt.seconds / 60)

In [ ]:
nx_at_cctc_tds = nx_at_cctc[nx_at_cctc.tmstmp.dt.date.eq(datetime.date(2021, 10, 25))].tmstmp.sort_values().diff()[1:]

In [ ]:
stoptimes.tmstmp.reset_index(level=1).groupby("date").

In [ ]:
stoptimes.reset_index(drop=True).sort_values("tmstmp", ascending=True).tmstmp.diff().iloc[1:].mean()

In [ ]:
pd.to_datetime(df.tmstmp).dt.date.unique()

In [ ]:
stoptimes[["tmstmp", "prdtm"]]

In [ ]:
stoptimes.predicted = pd.to_datetime(stoptimes.prdtm)
stoptimes.timestamp = pd.to_datetime(stoptimes.tmstmp)

In [ ]:
stoptimes.reset_index().to_csv("cc-cctc-stoptimes.csv", index=False)

In [ ]:
stoptimes.timestamp.dt.date

In [ ]:
stoptimes.groupby(stoptimes.timestamp.dt.date).first()

In [ ]:
stoptimes.groupby(stoptimes.timestamp.dt.date).groups

In [ ]:
df[df.rt.eq("NWL")].stpnm.unique()